body{
  text-align: center
}


img{
  border-radius: 20px
}
body {
    background-color: #FFEBCD;
 }
a:hover {
  background-color: #FF0000
}
*{
  font-family: Georgia
}
.title{
  text-align: center
}
